---
---

@import 'minima';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-header {
  border: 0;
}

.site-title {
  font-size: 24px;
}

.site-nav .page-link {
  font-size: 16px;
}

.site-footer {
  padding: 10px;
  border: 0;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

.post-link {
  color: #424242;
}

.hm-post-title {
  font-size: 32px;
  letter-spacing: normal;
  line-height: 1.3;

  &:hover {
    text-decoration: none;
  }
}

.post-preview {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}

.site-title:hover,
.page-link:hover {
  text-decoration: none;
}

.footer-copyright {
  font-size: 15px;
  color: $grey-color;
  text-align: center;
  margin: 0;
  padding-top: 5px;
}
